USE [Tip_SportDB]
GO
/****** Object:  Table [Archive].[Outrights.OddResult]    Script Date: 2/19/2025 7:03:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Archive].[Outrights.OddResult](
	[OddsResultId] [bigint] NOT NULL,
	[MatchId] [bigint] NOT NULL,
	[OddId] [bigint] NOT NULL,
	[RankNo] [int] NOT NULL,
	[CompetitorId] [bigint] NULL,
	[IsEvoluate] [bit] NULL,
 CONSTRAINT [PK_OddResult] PRIMARY KEY CLUSTERED 
(
	[OddsResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
