USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [Archive].[ProcLiveEvent]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE[Archive].[ProcLiveEvent]


AS

BEGIN   




declare @TempTable table (EventId bigint,BetradarMatcId bigint)
 
insert @TempTable
SELECT     Live.Event.EventId,Live.Event.BetradarMatchId
FROM         Live.Event  with (nolock) INNER JOIN
Live.EventDetail  with (nolock) On Live.EventDetail.EventId=live.Event.EventId
where Live.Event.EventDate<DATEADD(HOUR,-2,GETDATE()) and Live.EventDetail.TimeStatu in (5, 14, 27, 84, 21, 22, 23, 24, 25, 26)  
 


insert @TempTable
SELECT     Live.Event.EventId,Live.Event.BetradarMatchId
FROM         Live.Event  
where cast(Live.Event.EventDate as date)<cast(DATEADD(DAY,-1,GETDATE()) as date)  --and Live.Event.EventId not in (Select EventId from @TempTable)
 
   

delete Match.Code where Match.Code.MatchId in (select EventId from @TempTable) and BetTypeId=1
 

delete    Live.EventTopOdd where live.EventTopOdd.EventId in (select EventId from @TempTable)

delete     Live.EventTvChannel where Live.EventTvChannel.EventId in (select EventId from @TempTable)


delete    Live.ScoreCardSummary where Live.ScoreCardSummary.EventId in (select EventId from @TempTable)

delete     Live.EventSetting where Live.EventSetting.MatchId in (select EventId from @TempTable)


delete   Live.EventOddTypeSetting where Live.EventOddTypeSetting.MatchId in (select EventId from @TempTable)

--delete   Live.EventOddSetting where Live.EventOddSetting.OddId in (SELECT     Live.EventOdd.OddId
--FROM         Live.EventOdd  with (nolock)
--where Live.EventOdd.MatchId in (select EventId from @TempTable))

delete   Live.EventOddResult where Live.EventOddResult.BetradarMatchId in (select BetradarMatcId from @TempTable)

--delete   Live.EventOddResult where BetradarMatchId not in (select BetradarMatchId from Live.Event)

delete   Live.EventOdd where Live.EventOdd.MatchId in (select EventId from @TempTable)

delete   Live.EventDetail where Live.EventDetail.EventId in (select EventId from @TempTable)


delete  from Live.[Event] where Live.[Event].EventId in (select EventId from @TempTable)




delete from Live.EventDetail where BetradarMatchIds not in (

select EventId from Live.Event with (nolock) )


delete from Live.EventOdd where MatchId not in (

select EventId from Live.Event with (nolock) )


delete from Live.EventOddResult where BetradarMatchId not in (

select EventId from Live.Event with (nolock) )


delete  from Match.Code where BetTypeId=1 and MatchId not in (
select EventId from Live.Event with (nolock))

delete from Live.EventSetting where MatchId not in (

select EventId from Live.Event with (nolock) )



delete from Live.EventOddTypeSetting where MatchId not in (

select EventId from Live.Event with (nolock) )

 

ALTER INDEX [IX_Event_2] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_Event_5] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_Event_6] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_Event_7] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_Event_8] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_LEBB] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [PK_Event_2] ON [Live].[Event] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON (WAIT_AT_LOW_PRIORITY (MAX_DURATION = 0 MINUTES, ABORT_AFTER_WAIT = NONE)), ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_BBL] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventDetail_1] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventDetail_2] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventDetail_3] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventDetail_4] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventDetail_5] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_BBL] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)


ALTER INDEX [PK_EventDetail] ON [Live].[EventDetail] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_10] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_11] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)


ALTER INDEX [IX_EventOdd_2] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_3] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_4] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_5] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_6] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_7] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_8] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOdd_9] ON [Live].[EventOdd] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOddTypeSetting] ON [Live].[EventOddTypeSetting] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventOddTypeSetting_1] ON [Live].[EventOddTypeSetting] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

ALTER INDEX [IX_EventSetting] ON [Live].[EventSetting] REBUILD PARTITION = ALL WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, IGNORE_DUP_KEY = OFF, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult_1] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult_2] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult_3] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult_4] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 ALTER INDEX [IX_EventOddResult_5] ON [Live].[EventOddResult] REBUILD PARTITION = ALL WITH (PAD_INDEX = ON, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, ONLINE = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)

 
 end



GO
