USE [Tip_SportDB]
GO
/****** Object:  Table [Archive].[ScoreComment]    Script Date: 2/19/2025 7:03:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Archive].[ScoreComment](
	[ScoreCommentId] [int] NOT NULL,
	[MatchId] [bigint] NOT NULL,
	[ScoreComment] [nvarchar](250) NULL,
	[LanguageId] [int] NULL,
 CONSTRAINT [PK_ScoreComment_1] PRIMARY KEY CLUSTERED 
(
	[ScoreCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
