USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [Betradar].[ProcMatchBetFair]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Betradar].[ProcMatchBetFair]
@MatchId bigint,
@EventId bigint,
@SportId int,
@Runner1 int,
@Runner2 int
AS

BEGIN


set @MatchId=@EventId

	
	
	

END


GO
