USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [Betradar].[ProcMatchOddResultSp]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Betradar].[ProcMatchOddResultSp] 
@sqlcommand nvarchar(max)
AS

BEGIN
SET NOCOUNT ON;

 



select 1

END


GO
