USE [Tip_SportDB]
GO
/****** Object:  Table [Cache].[Programme]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Cache].[Programme](
	[ProgrammeId] [bigint] IDENTITY(1,1) NOT NULL,
	[MatchId] [bigint] NOT NULL,
	[BetradarMatchId] [bigint] NOT NULL,
	[MatchDate] [datetime] NOT NULL,
	[HomeTeam ] [int] NOT NULL,
	[AwayTeam ] [int] NOT NULL,
	[TournamentId] [int] NOT NULL,
	[SportId] [int] NOT NULL,
	[SportName] [nvarchar](50) NOT NULL,
	[OddId1] [bigint] NULL,
	[OddValue1] [float] NULL,
	[Odd1Visibility] [nchar](6) NULL,
	[OddId2] [bigint] NULL,
	[OddValue2] [float] NULL,
	[Odd1Visibility2] [nchar](6) NULL,
	[OddId3] [bigint] NULL,
	[OddValue3] [float] NULL,
	[Odd1Visibility3] [nchar](6) NULL,
	[OddIdBasketFirstHalf_1] [bigint] NULL,
	[OddIdBasketFirstHalf_2] [bigint] NULL,
	[OddIdBasketFirstHalf_x] [bigint] NULL,
	[OddIdBoth_N] [bigint] NULL,
	[OddIdBoth_Y] [bigint] NULL,
	[OddIdCorrectScore_00] [bigint] NULL,
	[OddIdCorrectScore_01] [bigint] NULL,
	[OddIdCorrectScore_02] [bigint] NULL,
	[OddIdCorrectScore_03] [bigint] NULL,
	[OddIdCorrectScore_10] [bigint] NULL,
	[OddIdCorrectScore_11] [bigint] NULL,
	[OddIdCorrectScore_12] [bigint] NULL,
	[OddIdCorrectScore_13] [bigint] NULL,
	[OddIdCorrectScore_20] [bigint] NULL,
	[OddIdCorrectScore_21] [bigint] NULL,
	[OddIdCorrectScore_22] [bigint] NULL,
	[OddIdCorrectScore_23] [bigint] NULL,
	[OddIdCorrectScore_30] [bigint] NULL,
	[OddIdCorrectScore_31] [bigint] NULL,
	[OddIdCorrectScore_32] [bigint] NULL,
	[OddIdCorrectScore_33] [bigint] NULL,
	[OddIdDartFirstSet_1] [bigint] NULL,
	[OddIdDartFirstSet_2] [bigint] NULL,
	[OddIdDouble_1] [bigint] NULL,
	[OddIdDouble_2] [bigint] NULL,
	[OddIdDouble_X] [bigint] NULL,
	[OddIdDrawNoBet_1] [bigint] NULL,
	[OddIdDrawNoBet_2] [bigint] NULL,
	[OddIdFirst10_3Way1] [bigint] NULL,
	[OddIdFirst10_3Way2] [bigint] NULL,
	[OddIdFirst10_3WayX] [bigint] NULL,
	[OddIdFirstHalf_1] [bigint] NULL,
	[OddIdFirstHalf_2] [bigint] NULL,
	[OddIdFirstHalf_X] [bigint] NULL,
	[OddIdFirstHalfBoth_N] [bigint] NULL,
	[OddIdFirstHalfBoth_Y] [bigint] NULL,
	[OddIdFirstHalfDrawNo_1] [bigint] NULL,
	[OddIdFirstHalfDrawNo_2] [bigint] NULL,
	[OddIdFirstHalfTotalsO_0_5] [bigint] NULL,
	[OddIdFirstHalfTotalsO_1_5] [bigint] NULL,
	[OddIdFirstHalfTotalsO_2_5] [bigint] NULL,
	[OddIdFirstHalfTotalsU_0_5] [bigint] NULL,
	[OddIdFirstHalfTotalsU_1_5] [bigint] NULL,
	[OddIdFirstHalfTotalsU_2_5] [bigint] NULL,
	[OddIdFirstScore_1] [bigint] NULL,
	[OddIdFirstScore_2] [bigint] NULL,
	[OddIdFirstScore_None] [bigint] NULL,
	[OddIdFutsalTotal_6_5O] [bigint] NULL,
	[OddIdFutsalTotal_6_5U] [bigint] NULL,
	[OddIdHadicap01_1] [bigint] NULL,
	[OddIdHadicap01_2] [bigint] NULL,
	[OddIdHadicap01_X] [bigint] NULL,
	[OddIdHadicap02_1] [bigint] NULL,
	[OddIdHadicap02_2] [bigint] NULL,
	[OddIdHadicap02_X] [bigint] NULL,
	[OddIdHadicap10_1] [bigint] NULL,
	[OddIdHadicap10_2] [bigint] NULL,
	[OddIdHadicap10_X] [bigint] NULL,
	[OddIdHadicap20_1] [bigint] NULL,
	[OddIdHadicap20_2] [bigint] NULL,
	[OddIdHadicap20_X] [bigint] NULL,
	[OddIdHalfFull_11] [bigint] NULL,
	[OddIdHalfFull_12] [bigint] NULL,
	[OddIdHalfFull_1X] [bigint] NULL,
	[OddIdHalfFull_21] [bigint] NULL,
	[OddIdHalfFull_22] [bigint] NULL,
	[OddIdHalfFull_2X] [bigint] NULL,
	[OddIdHalfFull_X1] [bigint] NULL,
	[OddIdHalfFull_X2] [bigint] NULL,
	[OddIdHalfFull_XX] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_OA] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_OD] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_OH] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_UA] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_UD] [bigint] NULL,
	[OddIdMatchBetTotal_2_5_UH] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_OA] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_OD] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_OH] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_UA] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_UD] [bigint] NULL,
	[OddIdMatchBetTotal_3_5_UH] [bigint] NULL,
	[OddIdTennisFirstSet_1] [bigint] NULL,
	[OddIdTennisFirstSet_2] [bigint] NULL,
	[OddIdTennisScore_02] [bigint] NULL,
	[OddIdTennisScore_12] [bigint] NULL,
	[OddIdTennisScore_20] [bigint] NULL,
	[OddIdTennisScore_21] [bigint] NULL,
	[OddIdTennisSecondSet_1] [bigint] NULL,
	[OddIdTennisSecondSet_2] [bigint] NULL,
	[OddIdTennisSetNumber_2] [bigint] NULL,
	[OddIdTennisSetNumber_3] [bigint] NULL,
	[OddIdTennisTotal_O] [bigint] NULL,
	[OddIdTennisTotal_U] [bigint] NULL,
	[OddIdTotalGoals_0_1] [bigint] NULL,
	[OddIdTotalGoals_2_3] [bigint] NULL,
	[OddIdTotalGoals_4_5] [bigint] NULL,
	[OddIdTotalGoals_6] [bigint] NULL,
	[OddIdTotals_O1_5] [bigint] NULL,
	[OddIdTotals_O2_5] [bigint] NULL,
	[OddIdTotals_O3_5] [bigint] NULL,
	[OddIdTotals_O4_5] [bigint] NULL,
	[OddIdTotals_U1_5] [bigint] NULL,
	[OddIdTotals_U2_5] [bigint] NULL,
	[OddIdTotals_U3_5] [bigint] NULL,
	[OddIdTotals_U4_5] [bigint] NULL,
	[OddIdTotalSpread_O] [bigint] NULL,
	[OddIdTotalSpread_U] [bigint] NULL,
	[OddSpecialBetValueBasketFirstHalf_1] [nvarchar](50) NULL,
	[OddSpecialBetValueBasketFirstHalf_2] [nvarchar](50) NULL,
	[OddSpecialBetValueBasketFirstHalf_x] [nvarchar](50) NULL,
	[OddSpecialBetValueBoth_N] [nvarchar](50) NULL,
	[OddSpecialBetValueBoth_Y] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_00] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_01] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_02] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_03] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_10] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_11] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_12] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_13] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_20] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_21] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_22] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_23] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_30] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_31] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_32] [nvarchar](50) NULL,
	[OddSpecialBetValueCorrectScore_33] [nvarchar](50) NULL,
	[OddSpecialBetValueDartFirstSet_1] [nvarchar](50) NULL,
	[OddSpecialBetValueDartFirstSet_2] [nvarchar](50) NULL,
	[OddSpecialBetValueDouble_1] [nvarchar](50) NULL,
	[OddSpecialBetValueDouble_2] [nvarchar](50) NULL,
	[OddSpecialBetValueDouble_X] [nvarchar](50) NULL,
	[OddSpecialBetValueDrawNoBet_1] [nvarchar](50) NULL,
	[OddSpecialBetValueDrawNoBet_2] [nvarchar](50) NULL,
	[OddSpecialBetValueFirst10_3Way1] [nvarchar](50) NULL,
	[OddSpecialBetValueFirst10_3Way2] [nvarchar](50) NULL,
	[OddSpecialBetValueFirst10_3WayX] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalf_1] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalf_2] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalf_X] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfBoth_N] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfBoth_Y] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfDrawNo_1] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfDrawNo_2] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsO_0_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsO_1_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsO_2_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsU_0_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsU_1_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstHalfTotalsU_2_5] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstScore_1] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstScore_2] [nvarchar](50) NULL,
	[OddSpecialBetValueFirstScore_None] [nvarchar](50) NULL,
	[OddSpecialBetValueFutsalTotal_6_5O] [nvarchar](50) NULL,
	[OddSpecialBetValueFutsalTotal_6_5U] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap01_1] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap01_2] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap01_X] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap02_1] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap02_2] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap02_X] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap10_1] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap10_2] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap10_X] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap20_1] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap20_2] [nvarchar](50) NULL,
	[OddSpecialBetValueHadicap20_X] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_11] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_12] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_1X] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_21] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_22] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_2X] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_X1] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_X2] [nvarchar](50) NULL,
	[OddSpecialBetValueHalfFull_XX] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_OA] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_OD] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_OH] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_UA] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_UD] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_2_5_UH] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_OA] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_OD] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_OH] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_UA] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_UD] [nvarchar](50) NULL,
	[OddSpecialBetValueMatchBetTotal_3_5_UH] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisFirstSet_1] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisFirstSet_2] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisScore_02] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisScore_12] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisScore_20] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisScore_21] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisSecondSet_1] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisSecondSet_2] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisSetNumber_2] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisSetNumber_3] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisTotal_O] [nvarchar](50) NULL,
	[OddSpecialBetValueTennisTotal_U] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalGoals_0_1] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalGoals_2_3] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalGoals_4_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalGoals_6] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_O1_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_O2_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_O3_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_O4_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_U1_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_U2_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_U3_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotals_U4_5] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalSpread_O] [nvarchar](50) NULL,
	[OddSpecialBetValueTotalSpread_U] [nvarchar](50) NULL,
	[OddValueBasketFirstHalf_1] [float] NULL,
	[OddValueBasketFirstHalf_2] [float] NULL,
	[OddValueBasketFirstHalf_x] [float] NULL,
	[OddValueBoth_N] [float] NULL,
	[OddValueBoth_Y] [float] NULL,
	[OddValueCorrectScore_00] [float] NULL,
	[OddValueCorrectScore_01] [float] NULL,
	[OddValueCorrectScore_02] [float] NULL,
	[OddValueCorrectScore_03] [float] NULL,
	[OddValueCorrectScore_10] [float] NULL,
	[OddValueCorrectScore_11] [float] NULL,
	[OddValueCorrectScore_12] [float] NULL,
	[OddValueCorrectScore_13] [float] NULL,
	[OddValueCorrectScore_20] [float] NULL,
	[OddValueCorrectScore_21] [float] NULL,
	[OddValueCorrectScore_22] [float] NULL,
	[OddValueCorrectScore_23] [float] NULL,
	[OddValueCorrectScore_30] [float] NULL,
	[OddValueCorrectScore_31] [float] NULL,
	[OddValueCorrectScore_32] [float] NULL,
	[OddValueCorrectScore_33] [float] NULL,
	[OddValueDartFirstSet_1] [float] NULL,
	[OddValueDartFirstSet_2] [float] NULL,
	[OddValueDouble_1] [float] NULL,
	[OddValueDouble_2] [float] NULL,
	[OddValueDouble_X] [float] NULL,
	[OddValueDrawNoBet_1] [float] NULL,
	[OddValueDrawNoBet_2] [float] NULL,
	[OddValueFirst10_3Way1] [float] NULL,
	[OddValueFirst10_3Way2] [float] NULL,
	[OddValueFirst10_3WayX] [float] NULL,
	[OddValueFirstHalf_1] [float] NULL,
	[OddValueFirstHalf_2] [float] NULL,
	[OddValueFirstHalf_X] [float] NULL,
	[OddValueFirstHalfBoth_N] [float] NULL,
	[OddValueFirstHalfBoth_Y] [float] NULL,
	[OddValueFirstHalfDrawNo_1] [float] NULL,
	[OddValueFirstHalfDrawNo_2] [float] NULL,
	[OddValueFirstHalfTotalsO_0_5] [float] NULL,
	[OddValueFirstHalfTotalsO_1_5] [float] NULL,
	[OddValueFirstHalfTotalsO_2_5] [float] NULL,
	[OddValueFirstHalfTotalsU_0_5] [float] NULL,
	[OddValueFirstHalfTotalsU_1_5] [float] NULL,
	[OddValueFirstHalfTotalsU_2_5] [float] NULL,
	[OddValueFirstScore_1] [float] NULL,
	[OddValueFirstScore_2] [float] NULL,
	[OddValueFirstScore_None] [float] NULL,
	[OddValueFutsalTotal_6_5O] [float] NULL,
	[OddValueFutsalTotal_6_5U] [float] NULL,
	[OddValueHadicap01_1] [float] NULL,
	[OddValueHadicap01_2] [float] NULL,
	[OddValueHadicap01_X] [float] NULL,
	[OddValueHadicap02_1] [float] NULL,
	[OddValueHadicap02_2] [float] NULL,
	[OddValueHadicap02_X] [float] NULL,
	[OddValueHadicap10_1] [float] NULL,
	[OddValueHadicap10_2] [float] NULL,
	[OddValueHadicap10_X] [float] NULL,
	[OddValueHadicap20_1] [float] NULL,
	[OddValueHadicap20_2] [float] NULL,
	[OddValueHadicap20_X] [float] NULL,
	[OddValueHalfFull_11] [float] NULL,
	[OddValueHalfFull_12] [float] NULL,
	[OddValueHalfFull_1X] [float] NULL,
	[OddValueHalfFull_21] [float] NULL,
	[OddValueHalfFull_22] [float] NULL,
	[OddValueHalfFull_2X] [float] NULL,
	[OddValueHalfFull_X1] [float] NULL,
	[OddValueHalfFull_X2] [float] NULL,
	[OddValueHalfFull_XX] [float] NULL,
	[OddValueMatchBetTotal_2_5_OA] [float] NULL,
	[OddValueMatchBetTotal_2_5_OD] [float] NULL,
	[OddValueMatchBetTotal_2_5_OH] [float] NULL,
	[OddValueMatchBetTotal_2_5_UA] [float] NULL,
	[OddValueMatchBetTotal_2_5_UD] [float] NULL,
	[OddValueMatchBetTotal_2_5_UH] [float] NULL,
	[OddValueMatchBetTotal_3_5_OA] [float] NULL,
	[OddValueMatchBetTotal_3_5_OD] [float] NULL,
	[OddValueMatchBetTotal_3_5_OH] [float] NULL,
	[OddValueMatchBetTotal_3_5_UA] [float] NULL,
	[OddValueMatchBetTotal_3_5_UD] [float] NULL,
	[OddValueMatchBetTotal_3_5_UH] [float] NULL,
	[OddValueTennisFirstSet_1] [float] NULL,
	[OddValueTennisFirstSet_2] [float] NULL,
	[OddValueTennisScore_02] [float] NULL,
	[OddValueTennisScore_12] [float] NULL,
	[OddValueTennisScore_20] [float] NULL,
	[OddValueTennisScore_21] [float] NULL,
	[OddValueTennisSecondSet_1] [float] NULL,
	[OddValueTennisSecondSet_2] [float] NULL,
	[OddValueTennisSetNumber_2] [float] NULL,
	[OddValueTennisSetNumber_3] [float] NULL,
	[OddValueTennisTotal_O] [float] NULL,
	[OddValueTennisTotal_U] [float] NULL,
	[OddValueTotalGoals_0_1] [float] NULL,
	[OddValueTotalGoals_2_3] [float] NULL,
	[OddValueTotalGoals_4_5] [float] NULL,
	[OddValueTotalGoals_6] [float] NULL,
	[OddValueTotals_O1_5] [float] NULL,
	[OddValueTotals_O2_5] [float] NULL,
	[OddValueTotals_O3_5] [float] NULL,
	[OddValueTotals_O4_5] [float] NULL,
	[OddValueTotals_U1_5] [float] NULL,
	[OddValueTotals_U2_5] [float] NULL,
	[OddValueTotals_U3_5] [float] NULL,
	[OddValueTotals_U4_5] [float] NULL,
	[OddValueTotalSpread_O] [float] NULL,
	[OddValueTotalSpread_U] [float] NULL,
	[OddVisibilityBasketFirstHalf_1] [nchar](6) NULL,
	[OddVisibilityBasketFirstHalf_2] [nchar](6) NULL,
	[OddVisibilityBasketFirstHalf_x] [nchar](6) NULL,
	[OddVisibilityBoth_N] [nchar](6) NULL,
	[OddVisibilityBoth_Y] [nchar](6) NULL,
	[OddVisibilityCorrectScore_00] [nchar](6) NULL,
	[OddVisibilityCorrectScore_01] [nchar](6) NULL,
	[OddVisibilityCorrectScore_02] [nchar](6) NULL,
	[OddVisibilityCorrectScore_03] [nchar](6) NULL,
	[OddVisibilityCorrectScore_10] [nchar](6) NULL,
	[OddVisibilityCorrectScore_11] [nchar](6) NULL,
	[OddVisibilityCorrectScore_12] [nchar](6) NULL,
	[OddVisibilityCorrectScore_13] [nchar](6) NULL,
	[OddVisibilityCorrectScore_20] [nchar](6) NULL,
	[OddVisibilityCorrectScore_21] [nchar](6) NULL,
	[OddVisibilityCorrectScore_22] [nchar](6) NULL,
	[OddVisibilityCorrectScore_23] [nchar](6) NULL,
	[OddVisibilityCorrectScore_30] [nchar](6) NULL,
	[OddVisibilityCorrectScore_31] [nchar](6) NULL,
	[OddVisibilityCorrectScore_32] [nchar](6) NULL,
	[OddVisibilityCorrectScore_33] [nchar](6) NULL,
	[OddVisibilityDartFirstSet_1] [nchar](6) NULL,
	[OddVisibilityDartFirstSet_2] [nchar](6) NULL,
	[OddVisibilityDouble_1] [nchar](6) NULL,
	[OddVisibilityDouble_2] [nchar](6) NULL,
	[OddVisibilityDouble_X] [nchar](6) NULL,
	[OddVisibilityDrawNoBet_1] [nchar](6) NULL,
	[OddVisibilityDrawNoBet_2] [nchar](6) NULL,
	[OddVisibilityFirst10_3Way1] [nchar](6) NULL,
	[OddVisibilityFirst10_3Way2] [nchar](6) NULL,
	[OddVisibilityFirst10_3WayX] [nchar](6) NULL,
	[OddVisibilityFirstHalf_1] [nchar](6) NULL,
	[OddVisibilityFirstHalf_2] [nchar](6) NULL,
	[OddVisibilityFirstHalf_X] [nchar](6) NULL,
	[OddVisibilityFirstHalfBoth_N] [nchar](6) NULL,
	[OddVisibilityFirstHalfBoth_Y] [nchar](6) NULL,
	[OddVisibilityFirstHalfDrawNo_1] [nchar](6) NULL,
	[OddVisibilityFirstHalfDrawNo_2] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsO_0_5] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsO_1_5] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsO_2_5] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsU_0_5] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsU_1_5] [nchar](6) NULL,
	[OddVisibilityFirstHalfTotalsU_2_5] [nchar](6) NULL,
	[OddVisibilityFirstScore_1] [nchar](6) NULL,
	[OddVisibilityFirstScore_2] [nchar](6) NULL,
	[OddVisibilityFirstScore_None] [nchar](6) NULL,
	[OddVisibilityFutsalTotal_6_5O] [nchar](6) NULL,
	[OddVisibilityFutsalTotal_6_5U] [nchar](6) NULL,
	[OddVisibilityHalfFull_11] [nchar](6) NULL,
	[OddVisibilityHalfFull_12] [nchar](6) NULL,
	[OddVisibilityHalfFull_1X] [nchar](6) NULL,
	[OddVisibilityHalfFull_21] [nchar](6) NULL,
	[OddVisibilityHalfFull_22] [nchar](6) NULL,
	[OddVisibilityHalfFull_2X] [nchar](6) NULL,
	[OddVisibilityHalfFull_X1] [nchar](6) NULL,
	[OddVisibilityHalfFull_X2] [nchar](6) NULL,
	[OddVisibilityHalfFull_XX] [nchar](6) NULL,
	[OddVisibilityHandicap01_1] [nchar](6) NULL,
	[OddVisibilityHandicap01_2] [nchar](6) NULL,
	[OddVisibilityHandicap01_X] [nchar](6) NULL,
	[OddVisibilityHandicap02_1] [nchar](6) NULL,
	[OddVisibilityHandicap02_2] [nchar](6) NULL,
	[OddVisibilityHandicap02_X] [nchar](6) NULL,
	[OddVisibilityHandicap10_1] [nchar](6) NULL,
	[OddVisibilityHandicap10_2] [nchar](6) NULL,
	[OddVisibilityHandicap10_X] [nchar](6) NULL,
	[OddVisibilityHandicap20_1] [nchar](6) NULL,
	[OddVisibilityHandicap20_2] [nchar](6) NULL,
	[OddVisibilityHandicap20_X] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_OA] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_OD] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_OH] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_UA] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_UD] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_2_5_UH] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_OA] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_OD] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_OH] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_UA] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_UD] [nchar](6) NULL,
	[OddVisibilityMatchBetTotal_3_5_UH] [nchar](6) NULL,
	[OddVisibilityTennisFirstSet_1] [nchar](6) NULL,
	[OddVisibilityTennisFirstSet_2] [nchar](6) NULL,
	[OddVisibilityTennisScore_02] [nchar](6) NULL,
	[OddVisibilityTennisScore_12] [nchar](6) NULL,
	[OddVisibilityTennisScore_20] [nchar](6) NULL,
	[OddVisibilityTennisScore_21] [nchar](6) NULL,
	[OddVisibilityTennisSecondSet_1] [nchar](6) NULL,
	[OddVisibilityTennisSecondSet_2] [nchar](6) NULL,
	[OddVisibilityTennisSetNumber_2] [nchar](6) NULL,
	[OddVisibilityTennisSetNumber_3] [nchar](6) NULL,
	[OddVisibilityTennisTotal_O] [nchar](6) NULL,
	[OddVisibilityTennisTotal_U] [nchar](6) NULL,
	[OddVisibilityTotalGoals_0_1] [nchar](6) NULL,
	[OddVisibilityTotalGoals_2_3] [nchar](6) NULL,
	[OddVisibilityTotalGoals_4_5] [nchar](6) NULL,
	[OddVisibilityTotalGoals_6] [nchar](6) NULL,
	[OddVisibilityTotals_O1_5] [nchar](6) NULL,
	[OddVisibilityTotals_O2_5] [nchar](6) NULL,
	[OddVisibilityTotals_O3_5] [nchar](6) NULL,
	[OddVisibilityTotals_O4_5] [nchar](6) NULL,
	[OddVisibilityTotals_U1_5] [nchar](6) NULL,
	[OddVisibilityTotals_U2_5] [nchar](6) NULL,
	[OddVisibilityTotals_U3_5] [nchar](6) NULL,
	[OddVisibilityTotals_U4_5] [nchar](6) NULL,
	[OddVisibilityTotalSpread_O] [nchar](6) NULL,
	[OddVisibilityTotalSpread_U] [nchar](6) NULL,
	[OutComeBasketFirstHalf_1] [nvarchar](50) NULL,
	[OutComeBasketFirstHalf_2] [nvarchar](50) NULL,
	[OutComeBasketFirstHalf_x] [nvarchar](50) NULL,
	[OutComeCorrectScore_00] [nvarchar](50) NULL,
	[OutComeCorrectScore_01] [nvarchar](50) NULL,
	[OutComeCorrectScore_02] [nvarchar](50) NULL,
	[OutComeCorrectScore_03] [nvarchar](50) NULL,
	[OutComeCorrectScore_10] [nvarchar](50) NULL,
	[OutComeCorrectScore_11] [nvarchar](50) NULL,
	[OutComeCorrectScore_12] [nvarchar](50) NULL,
	[OutComeCorrectScore_13] [nvarchar](50) NULL,
	[OutComeCorrectScore_20] [nvarchar](50) NULL,
	[OutComeCorrectScore_21] [nvarchar](50) NULL,
	[OutComeCorrectScore_22] [nvarchar](50) NULL,
	[OutComeCorrectScore_23] [nvarchar](50) NULL,
	[OutComeCorrectScore_30] [nvarchar](50) NULL,
	[OutComeCorrectScore_31] [nvarchar](50) NULL,
	[OutComeCorrectScore_32] [nvarchar](50) NULL,
	[OutComeCorrectScore_33] [nvarchar](50) NULL,
	[OutComeDartFirstSet_1] [nvarchar](50) NULL,
	[OutComeDartFirstSet_2] [nvarchar](50) NULL,
	[OutComeDrawNoBet_1] [nvarchar](50) NULL,
	[OutComeDrawNoBet_2] [nvarchar](50) NULL,
	[OutComeFirstHalf_1] [nvarchar](50) NULL,
	[OutComeFirstHalf_2] [nvarchar](50) NULL,
	[OutComeFirstHalf_X] [nvarchar](50) NULL,
	[OutComeFirstHalfBoth_N] [nvarchar](50) NULL,
	[OutComeFirstHalfDrawNo_1] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsO_0_5] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsO_1_5] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsO_2_5] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsU_0_5] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsU_1_5] [nvarchar](50) NULL,
	[OutComeFirstHalfTotalsU_2_5] [nvarchar](50) NULL,
	[OutComeFirstScore_2] [nvarchar](50) NULL,
	[OutComeFutsalTotal_6_5O] [nvarchar](50) NULL,
	[OutComeFutsalTotal_6_5U] [nvarchar](50) NULL,
	[OutComeHadicap10_1] [nvarchar](50) NULL,
	[OutComeHadicap10_2] [nvarchar](50) NULL,
	[OutComeHadicap10_X] [nvarchar](50) NULL,
	[OutComeHadicap20_1] [nvarchar](50) NULL,
	[OutComeHadicap20_2] [nvarchar](50) NULL,
	[OutComeHadicap20_X] [nvarchar](50) NULL,
	[OutComeHalfFull_11] [nvarchar](50) NULL,
	[OutComeHalfFull_1X] [nvarchar](50) NULL,
	[OutComeHalfFull_21] [nvarchar](50) NULL,
	[OutComeHalfFull_2X] [nvarchar](50) NULL,
	[OutComeHalfFull_X1] [nvarchar](50) NULL,
	[OutComeHalfFull_XX] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_OA] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_OD] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_OH] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_UA] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_UD] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_2_5_UH] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_OA] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_OD] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_OH] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_UA] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_UD] [nvarchar](50) NULL,
	[OutComeMatchBetTotal_3_5_UH] [nvarchar](50) NULL,
	[OutComeTennisFirstSet_1] [nvarchar](50) NULL,
	[OutComeTennisFirstSet_2] [nvarchar](50) NULL,
	[OutComeTennisScore_02] [nvarchar](50) NULL,
	[OutComeTennisScore_12] [nvarchar](50) NULL,
	[OutComeTennisScore_20] [nvarchar](50) NULL,
	[OutComeTennisScore_21] [nvarchar](50) NULL,
	[OutComeTennisSecondSet_1] [nvarchar](50) NULL,
	[OutComeTennisSecondSet_2] [nvarchar](50) NULL,
	[OutComeTennisSetNumber_2] [nvarchar](50) NULL,
	[OutComeTennisSetNumber_3] [nvarchar](50) NULL,
	[OutComeTennisTotal_O] [nvarchar](50) NULL,
	[OutComeTennisTotal_U] [nvarchar](50) NULL,
	[OutComeTotalGoals_0_1] [nvarchar](50) NULL,
	[OutComeTotalGoals_2_3] [nvarchar](50) NULL,
	[OutComeTotalGoals_4_5] [nvarchar](50) NULL,
	[OutComeTotalGoals_6] [nvarchar](50) NULL,
	[OutComeTotalSpread_O] [nvarchar](50) NULL,
	[OutComeTotalSpread_U] [nvarchar](50) NULL,
 CONSTRAINT [PK_Programme_1] PRIMARY KEY CLUSTERED 
(
	[ProgrammeId] ASC,
	[BetradarMatchId] ASC,
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programme]    Script Date: 2/19/2025 7:03:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Programme] ON [Cache].[Programme]
(
	[SportId] ASC,
	[MatchDate] ASC,
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Programme_1]    Script Date: 2/19/2025 7:03:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Programme_1] ON [Cache].[Programme]
(
	[SportId] ASC,
	[MatchDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXBBCP]    Script Date: 2/19/2025 7:03:37 AM ******/
CREATE NONCLUSTERED INDEX [IXBBCP] ON [Cache].[Programme]
(
	[MatchDate] ASC
)
INCLUDE([MatchId],[BetradarMatchId],[HomeTeam ],[AwayTeam ],[TournamentId],[SportId],[OddId1],[OddId2],[OddId3],[OddIdBasketFirstHalf_1],[OddIdBasketFirstHalf_2],[OddIdBasketFirstHalf_x],[OddIdBoth_N],[OddIdBoth_Y],[OddIdDouble_1],[OddIdDouble_2],[OddIdDouble_X],[OddIdFirstHalf_1],[OddIdFirstHalf_2],[OddIdFirstHalf_X],[OddIdFirstHalfTotalsO_0_5],[OddIdFirstHalfTotalsO_1_5],[OddIdFirstHalfTotalsU_0_5],[OddIdFirstHalfTotalsU_1_5],[OddIdFirstScore_1],[OddIdFirstScore_2],[OddIdFirstScore_None],[OddIdHadicap01_1],[OddIdHadicap01_2],[OddIdHadicap01_X],[OddIdHadicap02_1],[OddIdHadicap02_2],[OddIdHadicap02_X],[OddIdHadicap10_1],[OddIdHadicap10_2],[OddIdHadicap10_X],[OddIdHadicap20_1],[OddIdHadicap20_2],[OddIdHadicap20_X],[OddIdTennisFirstSet_1],[OddIdTennisFirstSet_2],[OddIdTennisScore_02],[OddIdTennisScore_12],[OddIdTennisScore_20],[OddIdTennisScore_21],[OddIdTennisTotal_O],[OddIdTennisTotal_U],[OddIdTotals_O1_5],[OddIdTotals_O2_5],[OddIdTotals_O3_5],[OddIdTotals_O4_5],[OddIdTotals_U1_5],[OddIdTotals_U2_5],[OddIdTotals_U3_5],[OddIdTotals_U4_5],[OddIdTotalSpread_O],[OddIdTotalSpread_U],[OddSpecialBetValueFirstHalfTotalsO_0_5],[OddSpecialBetValueFirstHalfTotalsO_1_5],[OddSpecialBetValueHadicap01_1],[OddSpecialBetValueHadicap02_1],[OddSpecialBetValueHadicap10_1],[OddSpecialBetValueHadicap20_1],[OddSpecialBetValueTennisTotal_O],[OddSpecialBetValueTotals_O1_5],[OddSpecialBetValueTotals_O2_5],[OddSpecialBetValueTotals_O3_5],[OddSpecialBetValueTotals_O4_5],[OddSpecialBetValueTotalSpread_O],[OddValueBasketFirstHalf_1],[OddValueBasketFirstHalf_2],[OddValueBasketFirstHalf_x],[OddValueBoth_N],[OddValueBoth_Y],[OddValueDouble_1],[OddValueDouble_2],[OddValueDouble_X],[OddValueFirstHalf_1],[OddValueFirstHalf_2],[OddValueFirstHalf_X],[OddValueFirstHalfTotalsO_0_5],[OddValueFirstHalfTotalsO_1_5],[OddValueFirstHalfTotalsU_0_5],[OddValueFirstHalfTotalsU_1_5],[OddValueFirstScore_1],[OddValueFirstScore_2],[OddValueFirstScore_None],[OddValueHadicap01_1],[OddValueHadicap01_2],[OddValueHadicap01_X],[OddValueHadicap02_1],[OddValueHadicap02_2],[OddValueHadicap02_X],[OddValueHadicap10_1],[OddValueHadicap10_2],[OddValueHadicap10_X],[OddValueHadicap20_1],[OddValueHadicap20_2],[OddValueHadicap20_X],[OddValueTennisFirstSet_1],[OddValueTennisFirstSet_2],[OddValueTennisScore_02],[OddValueTennisScore_12],[OddValueTennisScore_20],[OddValueTennisScore_21],[OddValueTennisTotal_O],[OddValueTennisTotal_U],[OddValueTotals_O1_5],[OddValueTotals_O2_5],[OddValueTotals_O3_5],[OddValueTotals_O4_5],[OddValueTotals_U1_5],[OddValueTotals_U2_5],[OddValueTotals_U3_5],[OddValueTotals_U4_5],[OddValueTotalSpread_O],[OddValueTotalSpread_U],[OutComeTennisScore_02],[OutComeTennisScore_12],[OutComeTennisScore_20],[OutComeTennisScore_21]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
