USE [Tip_SportDB]
GO
/****** Object:  Table [Casino].[RealGaming.ParameterCurrency]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Casino].[RealGaming.ParameterCurrency](
	[AmaticGameParameterCurrency] [int] NULL,
	[ParameterCurrencyId] [int] NULL,
	[Currency] [nvarchar](3) NULL
) ON [PRIMARY]
GO
