USE [Tip_SportDB]
GO
/****** Object:  Table [Casino].[Spinmatic.Player]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Casino].[Spinmatic.Player](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SpinmaticId] [bigint] NULL,
	[CustomerId] [bigint] NULL,
	[Status] [nvarchar](50) NULL,
	[Balance] [money] NULL,
	[Currency] [nvarchar](50) NULL
) ON [PRIMARY]
GO
