USE [Tip_SportDB]
GO
/****** Object:  Table [Casino].[LuckyStreak.ParameterGameType]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Casino].[LuckyStreak.ParameterGameType](
	[GameTypeId] [int] NULL,
	[GameType] [nvarchar](50) NULL
) ON [PRIMARY]
GO
