USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [CMS].[ProcLandingPagePositionCombo]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [CMS].[ProcLandingPagePositionCombo]

AS


BEGIN
SET NOCOUNT ON;

select CMS.[Parameter.LandingPagePosition].PositionId
,CMS.[Parameter.LandingPagePosition].Position
,CMS.[Parameter.LandingPagePosition].Description
 from CMS.[Parameter.LandingPagePosition]



END


GO
