USE [Tip_SportDB]
GO
/****** Object:  Table [dbo].[temptabl]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temptabl](
	[MatchId] [bigint] NULL,
	[BettradarOddId] [bigint] NULL,
	[tarih] [datetime] NULL,
	[Code] [int] NULL
) ON [PRIMARY]
GO
