USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [GamePlatform].[ProcCustomerDepositAstroPay]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GamePlatform].[ProcCustomerDepositAstroPay] 
@CustomerId bigint,
@AstroPayReturnCode int,
@CardPin int,
@CardNo nvarchar(max),
@CardExpDate nvarchar(max),
@UniqueId nvarchar(max),
@Invoice nvarchar(max),
@Amount money,
@CurrenyId int,
@UserName nvarchar(max),
@LangId int
AS

BEGIN
SET NOCOUNT ON;

declare @Balance money
declare @resultcode int=106
declare @resultmessage nvarchar(max)='Hata oluştu'

if @AstroPayReturnCode=1
	begin
	
		insert Customer.[Transaction] (CustomerId,Amount,CurrencyId,TransactionDate,TransactionTypeId,TransactionSourceId)
		values(@CustomerId,@Amount,@CurrenyId,GETDATE(),25,1)

		select @Balance=ISNULL(Customer.Customer.Balance,0) from Customer.Customer where Customer.CustomerId=@CustomerId

		set @Balance=@Balance+@Amount

		update Customer.Customer set Balance=@Balance where CustomerId=@CustomerId
		
		--select @resultcode=ErrorCodeId,@resultmessage=ErrorCode from Log.ErrorCodes where ErrorCodeId=123 and Log.ErrorCodes.LangId=@LangId
	
	end

	INSERT INTO [Log].[ErrorLog] ([Username],[MethodName],[SpName],[Message],[StackTrace],[Parameters],[CreateDate])
     VALUES (@UserName
           ,'AstroPayDeposit'
           ,'ProcCustomerDepositAstroPay'
           ,'AstroPay Deposit'
           ,cast(@ResultCode as nvarchar(max))
           ,cast(@CardNo as nvarchar(max)) +'|'+ cast(@CardPin as nvarchar(max)) +'|'+ cast(@CardExpDate as nvarchar(max))+'|'+cast(@UniqueId as nvarchar(max))+'|'+cast(@Invoice as nvarchar(max))+'|'+cast(@Amount as nvarchar(max))+'|'+cast(@CurrenyId as nvarchar(max))
           ,GetDate())
	
END


GO
