USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [GamePlatform].[ProcComboAccountType]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [GamePlatform].[ProcComboAccountType] 
@LanguageId int


AS


Select Parameter.AccountType.AccountTypeId,Parameter.AccountType.AccountType
from Parameter.AccountType





GO
