USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [GamePlatform].[ProcCasinoControl]    Script Date: 2/19/2025 7:03:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [GamePlatform].[ProcCasinoControl]
@CustomerId bigint


AS




BEGIN
SET NOCOUNT ON;
 

 select cast(1 as bit) as CasinoActive



END




GO
