USE [Tip_SportDB]
GO
/****** Object:  Table [Language].[Parameter.Day]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Language].[Parameter.Day](
	[ParameterDayId] [int] IDENTITY(1,1) NOT NULL,
	[DayId] [int] NULL,
	[LanguageId] [int] NULL,
	[Day] [nvarchar](50) NULL,
	[DayShort] [nvarchar](3) NULL
) ON [PRIMARY]
GO
