USE [Tip_SportDB]
GO
/****** Object:  Table [Match].[TVChannel]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Match].[TVChannel](
	[MatchTVChannelId] [int] IDENTITY(1,1) NOT NULL,
	[MatchId] [bigint] NOT NULL,
	[TVChannelId] [int] NOT NULL,
	[TVChannel] [nvarchar](250) NULL,
	[StartDate] [datetime] NULL,
 CONSTRAINT [PK_TVChannel_3] PRIMARY KEY CLUSTERED 
(
	[MatchTVChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_TVChannel]    Script Date: 2/19/2025 7:03:38 AM ******/
CREATE NONCLUSTERED INDEX [IX_TVChannel] ON [Match].[TVChannel]
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
