USE [Tip_SportDB]
GO
/****** Object:  Table [Parameter].[TVChannel]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parameter].[TVChannel](
	[TVChannelId] [int] IDENTITY(1,1) NOT NULL,
	[TVChannel] [nvarchar](150) NULL,
	[Info] [nvarchar](250) NULL,
 CONSTRAINT [PK_TVChannel_1] PRIMARY KEY CLUSTERED 
(
	[TVChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
