USE [Tip_SportDB]
GO
/****** Object:  Table [Parameter].[BankList]    Script Date: 2/19/2025 7:03:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Parameter].[BankList](
	[BankId] [bigint] IDENTITY(1,1) NOT NULL,
	[BankCode] [bigint] NULL,
	[BankName] [nvarchar](150) NULL,
 CONSTRAINT [PK_BankList] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
