USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [Report].[ProcDailyXML1]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Report].[ProcDailyXML1] 
 @BranchId bigint,
 @StartDate datetime,
 @EndDate datetime
AS

BEGIN
SET NOCOUNT ON;
 

	select BranchId,BrancName,CAST(0 as int) as BankAccount,'' as mail from Parameter.Branch with (nolock) where BranchId=@BranchId


END



GO
