USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [Retail].[ProcTerminalInfo]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Retail].[ProcTerminalInfo] 
 @TerminalId bigint
AS

BEGIN
SET NOCOUNT ON;


select IsAnonymousBet from Parameter.Branch with (nolock) Where BranchId=@TerminalId

END




GO
