USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [RiskManagement].[ProcTicketStatusCombo]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RiskManagement].[ProcTicketStatusCombo] 

AS

BEGIN
SET NOCOUNT ON;


select * from Parameter.TicketStatus

END




GO
