USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [RiskManagement].[ProcComboBranchBranchCommisionType]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RiskManagement].[ProcComboBranchBranchCommisionType]



AS




BEGIN
SET NOCOUNT ON;


select Parameter.BranchCommisionType.BranchCommisionTypeId,Parameter.BranchCommisionType.CommissionType 
from Parameter.BranchCommisionType

END


GO
