USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [RiskManagement].[ProcComboRiskLevel]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RiskManagement].[ProcComboRiskLevel]



AS




BEGIN
SET NOCOUNT ON;
SELECT [RiskLevelId]
      ,[RiskLevel]
  FROM [Parameter].[RiskLevel]

END



GO
