USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [RiskManagement].[ProcSlipOddsEvaluateMulti_Old]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RiskManagement].[ProcSlipOddsEvaluateMulti_Old] 
@MatchId bigint,
@OddTypeId int,
@BetTypeId int
as 

begin    

declare @SlipId bigint
declare @Amount money
declare @Gain money
declare @CustomerId bigint
declare @TotalOdd float
declare @tempSlip table (SlipId bigint,Gain money,CustomerId bigint,Amount money,SlipTyepId int,Systems nvarchar(300),SystemSlipId bigint,CopuonCount int)
declare @SlipTypeId int
declare @IsBranchCustomer bit
declare @Systems nvarchar(300)
declare @SystemSlipId bigint
declare @CouponCount int
insert @tempSlip
	select DISTINCT Archive.Slip.SlipId,Archive.Slip.Amount*Archive.Slip.TotalOddValue,Archive.Slip.CustomerId,Archive.Slip.Amount,Archive.Slip.SlipTypeId,Customer.SlipSystem.[System],Customer.SlipSystemSlip.SystemSlipId,Customer.SlipSystem.CouponCount
					FROM         Archive.SlipOdd with (nolock)  INNER JOIN
                      Archive.Slip with (nolock)  ON Archive.SlipOdd.SlipId = Archive.Slip.SlipId INNER JOIN Customer.SlipSystemSlip 
					  ON Customer.SlipSystemSlip.SlipId=Archive.Slip.SlipId INNER JOIN
					  Customer.SlipSystem ON Customer.SlipSystem.SystemSlipId=Customer.SlipSystemSlip.SystemSlipId
					where Archive.SlipOdd.MatchId=@MatchId and Archive.SlipOdd.OddsTypeId=@OddTypeId  and Archive.Slip.SlipStatu in (1,3)
					and Archive.SlipOdd.BetTypeId=@BetTypeId and Archive.Slip.SlipTypeId=5 and Archive.Slip.SlipStateId in (1)

set nocount on
					declare cur111 cursor local for(
					select SlipId,Gain,CustomerId,Amount,SlipTyepId,Systems,SystemSlipId,CopuonCount From @tempSlip

						)

					open cur111
					fetch next from cur111 into @SlipId,@Gain,@CustomerId,@Amount, @SlipTypeId,@Systems,@SystemSlipId,@CouponCount
					while @@fetch_status=0
						begin
							begin




	

select @IsBranchCustomer=IsBranchCustomer from Customer.Customer with (nolock) where CustomerId=@CustomerId


declare @SystemCount int
declare @WinAmount money=0
declare @TotalWinAmount money=0
declare @OddValue float
declare @Odds nvarchar(300)=''
declare @OddMatchId bigint
declare @OldMatchId bigint=0


 declare @EventPerBet int=0

 select @EventPerBet= COUNT(distinct Archive.SlipOdd.BetradarMatchId) from Archive.SlipOdd with (nolock) where SlipId=@SlipId

							--while @cCount< @CouponCount
							--	begin
								if not exists(select SlipId from Archive.SlipOdd with (nolock) where SlipId=@SlipId and BetradarMatchId in  (Select BetradarMatchId from Archive.SlipOdd with (nolock) where SlipId=@SlipId GROUP BY BetradarMatchId HAVING COUNT( BetradarMatchId)=1) and StateId=4)
									begin
										if not exists (Select Archive.SlipOdd.SlipId from Archive.SlipOdd with (nolock)  where SlipId=@SlipId and StateId=1)
											begin
										 
													set @OldMatchId=0
										
													set nocount on
															declare cur11123 cursor local for(
															select case when stateid =3 then OddValue else 1 end,BetradarMatchId From Archive.SlipOdd with (nolock) where SlipId=@SlipId and StateId in (3,2,5) 

																)
																order by BetradarMatchId
															open cur11123
															fetch next from cur11123 into @OddValue,@OddMatchId
															while @@fetch_status=0
																begin
																	begin
														 
																		
																	 if(@OldMatchId<>@OddMatchId)
																		set @Odds=@Odds+';'
																	else
																		set @Odds=@Odds+','

																		 set @Odds=@Odds+cast(@OddValue as nvarchar(10))
																		set @OldMatchId=@OddMatchId

																	end
																	fetch next from cur11123 into @OddValue,@OddMatchId
			
																end
															close cur11123
															deallocate cur11123

															set @Odds=SUBSTRING(@Odds,2,LEN(@Odds))
															select @WinAmount=[RiskManagement].[FuncSlipMultiEvaluate]     (@EventPerBet,@Odds,@Amount)
															set @TotalWinAmount=@TotalWinAmount+ @WinAmount
															
															--select @WinAmount,@CouponCount,@Odds,@Amount
															set @Odds=''

															if(@TotalWinAmount>0)
																	begin
																	if not exists(select Archive.SlipOdd.SlipId from Archive.SlipOdd with (nolock)  where SlipId=@SlipId and StateId=1)
																			begin

																			if not exists (select Archive.Slip.SlipId from Archive.Slip with (nolock) where SlipId=@SlipId and IsPayOut=1)
																			begin
																			exec Job.FuncCustomerBooking @CustomerId,@TotalWinAmount,1,@SlipId
							 
																			update Customer.SlipSystem set SlipStateId=3 ,MaxGain=@TotalWinAmount,EvaluateDate=GETDATE(),IsPayOut= Case when @IsBranchCustomer=1 then 0 else 1 end where SystemSlipId=@SystemSlipId
																			update Archive.Slip set SlipStateId=3 ,EvaluateDate=GETDATE(),IsPayOut  =Case when @IsBranchCustomer=1 then 0 else 1 end where SlipId=@SlipId
																			update Customer.Tax set TaxStatusId=3 where SlipId =@SystemSlipId and SlipTypeId=3

																				if (select EXP(SUM(LOG(OddValue))) from Archive.SlipOdd with (nolock) where SlipId=@SlipId)=1 -- Eğer kupondaki tüm maçlar cancel olduysa tax da geri yükleniyor.
																						begin
																							declare @TaxAmount money=0
																							declare @TaxId bigint=0
																							select @TaxAmount=TaxAmount,@TaxId=Customer.Tax.TaxId from Customer.Tax where SlipId=@SystemSlipId and SlipTypeId=3
																							update Customer.Tax set TaxStatusId=2 where SlipId=@SlipId
																									update Customer.SlipSystem set  MaxGain=@TotalWinAmount+@TaxAmount  where SystemSlipId=@SystemSlipId
																							exec  [Job].[FuncCustomerBooking2]  @CustomerId,@TaxAmount,1,54,@TaxId

																						end

																			end
																			end
																	end
																else
																	begin
																		if not exists(select Archive.SlipOdd.SlipId from Archive.SlipOdd with (nolock)  where SlipId=@SlipId and StateId=1)
																			begin
																			update Customer.SlipSystem set SlipStateId=4,EvaluateDate=GETDATE() where SystemSlipId=@SystemSlipId
																			update Archive.Slip set SlipStateId=4 ,EvaluateDate=GETDATE() where SlipId=@SlipId
																			update Customer.Tax set TaxStatusId=3 where SlipId =@SystemSlipId and SlipTypeId=3
																			end
																	end

												end
									end
								else
									begin
										update Customer.SlipSystem set SlipStateId=4,EvaluateDate=GETDATE() where SystemSlipId=@SystemSlipId
										update Archive.Slip set SlipStateId=4 ,EvaluateDate=GETDATE() where SlipId=@SlipId
										update Customer.Tax set TaxStatusId=3 where SlipId =@SystemSlipId and SlipTypeId=3
									end

						
	set @TotalWinAmount=0
	set @WinAmount=0
 --delete from  @tblOdd

end
							fetch next from cur111 into @SlipId,@Gain,@CustomerId,@Amount,@SlipTypeId,@Systems,@SystemSlipId,@CouponCount
			
						end
					close cur111
					deallocate cur111

					delete @tempSlip
end


GO
