USE [Tip_SportDB]
GO
/****** Object:  StoredProcedure [RiskManagement].[ProcComboBank]    Script Date: 2/19/2025 7:03:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RiskManagement].[ProcComboBank]



AS




BEGIN
SET NOCOUNT ON;


select Parameter.Bank.BankId,Parameter.Bank.Bank from Parameter.Bank

END


GO
